<div class="container" style="width: 80%;height: 100vh;text-align: center">
    <h1>This is Admin Panel</h1>
      <a class="btn btn-primary" style="margin-top: 40vh;margin-right: 2vh;" href="/admin/addblogpage">Add a blog</a>
      <a class="btn btn-primary" style="margin-top: 40vh;margin-right: 2vh;" href="/admin/showBlogs">Blogs</a>
      
      
  </div>