<section>
    <div class="container" style="padding-top: 10vh;">
        {{#if loggedUser.loggedIn}}
        <div style="text-align: center;"><h1>You already logged In</h1></div>
        {{else}}
        <div style="text-align: center;margin-top: 5vh;"><h1>LogIn</h1></div>
       <form action="/login" method="POST">
           <div style="margin-top: 10vh;width: 100%;"> <input name="username" placeholder="Enter Your Email" style="width: 60%;margin-left: 20%;padding-left: 10px;height: 35px;" type="text"></div>
            
            <div style="margin-top: 3vh;"> <input name="password" placeholder="Enter Password" style="width: 60%;margin-left: 20%;padding-left: 10px;height: 35px;" type="text"></div>
            <div style="text-align: center;margin-top: 3vh;"><button class="btn btn-primary">Submit</button></div>
       </form>
       {{/if}}
       
       
       
           




    </div>
</section>