<section>
    <div class="container" style="padding-top: 10vh;">
        <div style="text-align: center;margin-top: 5vh;"><h1>SignUp</h1></div>
       <form action="/signup" method="POST">
           <div style="margin-top: 10vh;width: 100%;"> <input id="email" name="email" placeholder="Enter Your Email" style="width: 60%;margin-left: 20%;padding-left: 10px;height: 35px;" type="text"></div>
            <div style="margin-top: 3vh;"> <input id="name"  name="name" placeholder="Enter Your Name" style="width: 60%;margin-left: 20%;padding-left: 10px;height: 35px;" type="text" required></div>
            <div style="margin-top: 3vh;"> <input id="username"  name="username" placeholder="Enter Your username" style="width: 60%;margin-left: 20%;padding-left: 10px;height: 35px;" type="text"></div>
            <div style="margin-top: 3vh;"> <input id="password"  name="password" placeholder="Enter Password" style="width: 60%;margin-left: 20%;padding-left: 10px;height: 35px;" type="text"></div>
            <div style="text-align: center;margin-top: 3vh;"><button class="btn btn-primary" onclick="validSignup()">Submit</button></div>
       </form>
    </div>
</section>